<!doctype html>
<html lang="en">


<head>
	<meta charset="utf-8" />
	<title>Ticket Confirmation</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
</head>

<body>
    <div id="divmain">
        <h1>Ticket Confirmation</h1>

        <div id="divEnter">
        Thank you so much!! We cannot wait to see you there!<br><br>

        <strong>Name: </strong><%- name %><br>
        <strong>Email Address: </strong><%- email %><br>
        <strong>Credit Card Info: XXX-XXX-XXX-</strong><%- cc4 %><br>
        <strong>Ticket Plan: </strong><%- plan %>

        <hr>
        <%- time %>
        <hr>
        </div>
        <div id="div1">
        <div id="div2">
        <div id="div3">
            <a href="/">HOME</a>
        </div>
        </div>
        </div>
    </div>
</body>

</html>